.App {
  text-align: center;
  margin:0;
  padding:0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #598A98;
  align-items:center;
  justify-content: center;
  flex-wrap: nowrap;
  font-size: calc(10px + 2vmin);
  color: black;
}
body {
  background-color: #CBD5CA;
}
a{color:#216588;
  text-decoration: none;
}


.App-header {
 background-image: url("https://imgur.com/GlfbPNi.png");
 background-size: cover;
 background-repeat: round;
 width:100%;
 height:100vh;
 display: flex;
 flex-direction: column;
 align-items:center;
 justify-content: center; 
}

.Forms{
  position: absolute;
  top: 0px;
  width:100%;
  height:6vh;
  text-align: right;
  display:inline;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  margin:0;
  padding:0;
  background-color:#CBD5CA;
}

#logButton{
  background-color: #F4BB97;
  border-radius: 5px;
  padding: 0.5vh;
  font-size: 15px;
  margin-right:10px;
}
#signButton{
  background-color: #F4BB97;
  border-radius: 5px;
  padding: 0.5vh;
  font-size: 15px;
  margin-right:20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  opacity: .5;
}

#icon{
  min-width: 35px;
  width:30%;
}

#logo_disc{
  margin:0%;

  font-family:Kollectif, sans-serif;
  color:#0170BF;
}

li{
  list-style-type: none;
}